<div class="mx-auto col-10 container">
  <div id="header" class="row">
    <h1>Ian Beal</h1>
    <h3>Software Developer</h3>
    <p>
      <a href="emailto:ian.b255@gmail.com">Email</a>
      <span> | </span>
      <a href="https://www.linkedin.com/in/ian-beal/">LinkedIn Profile</a>
    </p>
    <hr>
</div>
<div class="row">
  <app-profile class="col-sm card"></app-profile>
    <app-skills class="col-sm card"></app-skills>
</div>
<div class="row">
  <app-references class="col-sm card"></app-references>
  <app-education class="col-sm card"></app-education>

</div>
<div class="row">

  <app-experience class="col-sm card"></app-experience>
  <app-projects class="col-sm card"></app-projects>
</div>
</div>